<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href='/css/styleIntervalPractice.css' />
  <title>Training Arena</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<!-- Sidebar -->
<div class="sidebar">
  <div class="button-container">
    <a class="sidebar-btn sidebar--2">
      <img src="/images/home.png" />
      <h6>Home</h6>
    </a>
  </div>
</div>

<!-- Top Bar -->
<div class="top-bar">
  <div class="logo">
    <img src="/images/logo2.png" />
  </div>
  <div class="user_info">
    <a href="#" class="top-image">
      <img src="/images/user.png" />
    </a>
    <h1>Viktor</h1>
  </div>
</div>

<!-- Main Content -->
<div class="main-content">
  <div class="user--menu hidden">
    <a href="#">
      <img src="/images/history.png" />
    </a>
    <h2>History</h2>
    <a href="#">
      <img src="/images/cog.png" />
    </a>
    <h2>Settings</h2>
    <a href="#">
      <img src="/images/exit.png" />
    </a>
    <h2>Log out</h2>
  </div>
  <!-- Larger Rectangle on the Right -->
  <div class="large-rectangle">
    <div class="section--1">
      <h1 class="text-section--1 hidden">Round 1</h1>
      <h1 class="exercise-name" id='countdownMessage'></h1>
    </div>
    <div class="section--2">
      <button
        type="button"
        class="start--btn"
        id="startButton"
        onclick="playExercise()"
      >
        Start!
      </button>
      <button
        class="pause--btn hidden"
        type="button"
        id="pauseButton"
        onclick="pauseResume()"
      >
        Pause
      </button>
      <button
        class="done--btn hidden"
        type="button"
        id="doneButton"
        onclick="markExerciseDone()"
      >
        Done
      </button>
    </div>
  </div>
  <div class="small-rectangle">
    <div class="circle">
      <div class="inner-circle">
        <div class="small-circle">
          <h1 id="timer">--:--</h1>
        </div>
      </div>
    </div>
  </div>
  <audio id="exerciseAudio" style="display: none">
    <source th:src="@{'/audio/start.wav'}" type="audio/wav" />
    Your browser does not support the audio element.
  </audio>
</div>
<div class='add-rest-modal hidden'>
  <button class="btn--close-modal">
    <img src="/images/home.png" />
  </button>
  <h1 class="rest-head">Rest Configuration</h1>
  <h3 class="rest-msg">Configure your rest times for optimal training. Set intervals between exercises and rounds. Rest between exercises is optional, with a default of 5 seconds.</h3>
  <h2 class="wrong-rest"></h2>
  <!--  Select rest time between rounds-->
  <label for="restExercises" class="rest-exercise-name">Rest between exercises</label>
  <input class="rest-exercise-input" type="number" id="restExercises" name="restExercises" placeholder="Optional" required>
  <div class='space-rest'>
    <label for="restRounds" class="rest-rounds-name">Rest between rounds</label>
    <input class="rest-rounds-input" type="number" id="restRounds" name="restRounds" placeholder="Required" required>
  </div>
  <div>
    <input type="submit" value="Start!" class="rest-config-btn">
  </div>
</div>
<div class='config-modal'>
  <button class="btn--close-modal">
    <img src="/images/home.png" />
  </button>
  <h1 class="rest-head">Training Configuration</h1>
  <h3 class="config-msg">Configure the number of intervals and rounds for your training</h3>
  <h2 class="wrong-config"></h2>
  <!--  Select rest time between rounds-->
  <label for="interval" class="interval-name">Intervals</label>
  <input class="interval-input" type="number" id="interval" name="interval" placeholder="Set number of intervals" required>
  <div class='space-rest'>
    <label for="intervalTime" class="rounds-config-name">Duration</label>
    <input class="duration-config-input" type="number" id="intervalTime" name="intervalTime" placeholder="Set duration for interval" required>
  </div>
  <div class='space-rest'>
    <label for="roundsNumber" class="rounds-config-name">Rounds</label>
    <input class="rounds-config-input" type="number" id="roundsNumber" name="roundsNumber" placeholder="Set number of rounds" required>
  </div>
  <div>
    <input type="submit" value="Next" class="training-config-btn">
  </div>
</div>
<div class="overlay"></div>
<script th:inline="javascript">
  /*<![CDATA[*/
  const audio = document.getElementById("exerciseAudio");
  const timerElement = document.getElementById("timer");
  const countdownMessageElement = document.getElementById("countdownMessage");
  const round = document.querySelector(".text-section--1");
  const userId = /*[[${id}]]*/ 0;
  let countdown;
  let exercises = [];
  let exerciseIndex = 0;
  let countInterval = 1;
  let allExercises = [];
  let rounds;
  let currentRound = 1;

  let timeLeft;
  let restDuration = 5;
  let restBetweenRounds;
  let isPaused = false;
  let isResting = false;
  let continueButtonClicked = false;
  let isRestingBetweenRounds = false;
  const userMenu = document.querySelector('.user--menu');
  const account = document.querySelector('.top-image');
  const intervalInput = document.querySelector(".interval-input");

  const roundsInput = document.querySelector(".rounds-config-input");
  const durationInput = document.querySelector(".duration-config-input");
  const wrongConfig = document.querySelector(".wrong-config");
  const trainingConfigBtn = document.querySelector(".training-config-btn");

  const overlay = document.querySelector(".overlay");
  const configModal = document.querySelector(".config-modal");
  const restTimeModal = document.querySelector(".add-rest-modal");

  const restModalMsg = document.querySelector(".wrong-rest");
  const restExercises = document.querySelector(".rest-exercise-input");
  const restRounds = document.querySelector(".rest-rounds-input");
  const restConfigBtn = document.querySelector(".rest-config-btn");

  const homeBtn = document.querySelector(".sidebar-btn");
  const homeBtn2 = document.querySelectorAll(".btn--close-modal");

  homeBtn.addEventListener("click", function() {
      intervalInput.value = "";
      roundsInput.value = "";
      durationInput.value = "";
      restExercises.value = "";
      restRounds.value = "";
    window.location.href = `http://localhost:8080/workout/zone/` + userId;
  })

  homeBtn2.forEach(btn => {
    btn.addEventListener("click", function() {
      intervalInput.value = "";
      roundsInput.value = "";
      durationInput.value = "";
      restExercises.value = "";
      restRounds.value = "";
      window.location.href = `http://localhost:8080/workout/zone/` + userId;
    })
  })

  trainingConfigBtn.addEventListener("click", function(e) {
    e.preventDefault();
    if (intervalInput.value <= 0 ||
      intervalInput.value.includes(".") || intervalInput.value.includes(",")||
      roundsInput.value <= 0 ||
      roundsInput.value.includes(".") || roundsInput.value.includes(",") ||
      durationInput.value <= 0 ||
      durationInput.value.includes(".") || durationInput.value.includes(",")
     ) {
      wrongConfig.textContent = "Enter positive whole numbers";
      return false;
    } else {
      wrongConfig.textContent = "";
      rounds = roundsInput.value;
      timeLeft = durationInput.value;
      for (let i = 0; i < intervalInput.value; i++) {
        exercises.push(i + 1);
      }
      console.log(exercises);
      console.log(intervalInput.value, roundsInput.value);
      for (let i = 0; i < rounds; i++) {
        for (let j = 0; j < exercises.length; j++) {
          allExercises.push(exercises[j]);
        }
      }
      console.log(allExercises);
      configModal.classList.add("hidden");
      restTimeModal.classList.remove("hidden");
    }
  })

  restConfigBtn.addEventListener("click", function(e) {
    e.preventDefault();
    if (restRounds.value <= 0 ||
      restRounds.value.includes(".") ||
      restRounds.value.includes(",") ||
      restExercises.value < 0
    ) {
      restModalMsg.textContent = "Enter a positive whole number";
    } else if(restExercises.value > 0 && (restExercises.value.includes(".") || restExercises.value.includes(","))) {
      restModalMsg.textContent = "Enter a positive whole number";
    } else {
      if (restExercises.value > 0) {
        restDuration = restExercises.value;
        console.log("Rest intervals",restDuration);
      } else {
        restDuration = 5;
        console.log("Rest intervals",restDuration);
      }
      restBetweenRounds = restRounds.value;
      console.log("Rest rounds",restBetweenRounds);
      restModalMsg.textContent = "";
      restTimeModal.classList.add("hidden");
      overlay.classList.add("hidden");
    }
  })

  const showMenu = function (e) {
    e.preventDefault();
    userMenu.classList.remove('hidden');
  };

  const closeMenu = function () {
    userMenu.classList.add('hidden');
  };
  let clicked = 0;
  account.addEventListener('click', function (e) {
    e.preventDefault();
    clicked++;
    if (clicked % 2 !== 0) {
      showMenu(e);
    }
    if (clicked % 2 === 0) {
      closeMenu();
    }
  });

  function playExercise() {
    document.querySelector(".text-section--1").classList.add("hidden");

    if (exerciseIndex < allExercises.length) {
      timeLeft = durationInput.value;
      // console.log("TIME ", timeLeft);
      playStartSound();

      if (!isPaused) {
        startCountdown();
      }
    }
  }

  function startCountdown() {
    countdown = setInterval(function () {
      const minutes = Math.floor(timeLeft / 60);
      const seconds = timeLeft % 60;
      const timerText = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
      timerElement.textContent = timerText;
      document.querySelector('.start--btn').classList.add("hidden");
      if (!isRestingBetweenRounds) {
        document.querySelector(".text-section--1").classList.remove("hidden");
      }
      document.querySelector(".pause--btn").classList.remove("hidden");

      if (timeLeft <= 0) {
        clearInterval(countdown);
        playEndSound();

        if (!isResting && exerciseIndex < allExercises.length - 1) {
          isResting = true;
          if (((exerciseIndex + 1) % exercises.length === 0)) {
            countdownMessageElement.textContent = "Take a rest between rounds";
            isRestingBetweenRounds = true;
            round.classList.add("hidden");
            const nextRound = currentRound + 1;
            round.textContent = "Round " + nextRound;
            currentRound++;
            countInterval = 1;
            timeLeft = restBetweenRounds;
            playStartSound();
            startCountdown();
          } else {
            countdownMessageElement.textContent = `Get ready for next interval`;
            countInterval++;
            isRestingBetweenRounds = false;
            timeLeft = restDuration;
            playStartSound();
            startCountdown();
          }
        } else if (isResting && exerciseIndex < allExercises.length - 1) {
          isResting = false;
          nextExercise();
        } else {
          finishRoutine();
        }
      } else {
        if (isResting) {
        } else if (exerciseIndex < allExercises.length) {
          countdownMessageElement.textContent = "Interval " + countInterval;
        }
        timeLeft--;
      }
    }, 1000);

  }

  function markExerciseDone() {
    continueButtonClicked = true;
    document.querySelector(".done--btn").classList.add("hidden");

    playStartSound();
    countdownMessageElement.textContent = "";

    if (exerciseIndex === allExercises.length - 1) {
      finishRoutine();
    } else {
      startRestCountdown();
    }
  }

  function nextExercise() {
    exerciseIndex++;
    isRestingBetweenRounds = false;

    if (exerciseIndex < allExercises.length) {
      timeLeft = durationInput.value;
      console.log("TIME ", timeLeft);
      playStartSound();

      startCountdown();
    } else {
      finishRoutine();
    }
  }

  function finishRoutine() {
    document.querySelector(".section--2").classList.add("hidden");
    countdownMessageElement.classList.add("hidden");
    audio.play();
    timerElement.textContent = "Done!";
    timerElement.style.opacity = "0";

    round.textContent = "You will be redirected to home page";
    round.style.opacity = "0";
    let currentColor = 0;
    const targetColor = 220;

    console.log(document.body);
    const colorChangeInterval = setInterval(function () {
      if (currentColor < targetColor) {
        currentColor += 1;
        document.querySelector(".small-circle").style.backgroundColor = `rgb(0, ${currentColor}, 0)`;
      } else {
        clearInterval(colorChangeInterval);

        let opacity = 0;
        const displayInterval = setInterval(function () {
          if (opacity < 1) {
            opacity += 0.01;
            timerElement.style.opacity = opacity;
            round.style.opacity = opacity;
          } else {
            clearInterval(displayInterval);

            // Redirect to http://localhost:8080/home after 3 seconds
            setTimeout(function () {
              intervalInput.value = "";
              roundsInput.value = "";
              durationInput.value = "";
              restExercises.value = "";
              restRounds.value = "";
              window.location.href = `http://localhost:8080/workout/zone/` + userId;
            }, 3000);
          }
        }, 10);
      }
    }, 10);
  }

  function playStartSound() {
    const sound = new Audio("/audio/start.wav");
    sound.play();
  }

  function playEndSound() {
    const sound = new Audio("/audio/end.wav");
    sound.play();
  }

  function pauseResume() {
    const pauseButton = document.querySelector(".pause--btn");
    if (isPaused) {
      isPaused = false;
      pauseButton.textContent = "Pause";
      startCountdown();
      playStartSound();
    } else {
      isPaused = true;
      pauseButton.innerHTML = "&nbsp;Start!&nbsp;";
      clearInterval(countdown);
      playStartSound();
    }
  }
  /*]]>*/
</script>
</body>
</html>
