<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!--  <link rel="shortcut icon" type="image/png" href="img/icon.png" />-->

  <link rel="icon" href="data:,">
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href='/css/styleMain.css' />
  <title>FitTrack</title>
</head>
<body>
<header class="header">
  <nav class="nav">
    <h1 class="app_logo"></h1>
    <ul class="nav__links">
      <li class="nav__item">
        <a class="nav__link" href="#section--1">Nutrition Hub</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--2">Workout Zone</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#section--3">Progress Tracker</a>
      </li>
      <li class="nav__item">
        <a th:href="@{/login}" class="nav__link nav__link--login">Login</a>
      </li>
      <li class="nav__item">
        <a th:href="@{/register}" class="nav__link nav__link--btn btn--show-modal">Let's go!</a>
      </li>
    </ul>
  </nav>

  <div class="header__title">
    <div class="info__text">
      <h1>Welcome to FitTrack</h1>
      <h4 class='space'>
        Elevate your fitness journey with personalized training,<br />diet
        tracking, and progress monitoring in one application.
      </h4>
      <a th:href="@{/register}" class="nav__link nav__link--btn btn--show-modal register">Let's go!</a>
    </div>
  </div>
</header>

<div class="white_section">
  <section class="section" id="section--1">
    <div class="section__title">
      <h1 class="section__description">Nutrition Hub</h1>
      <h4 class="section1_text">
        Keep tabs on your eating habits effortlessly in our diet section.<br> Log meals, track calories, and make informed choices to support your fitness goals with ease.
      </h4>
    </div>
    <div class="features">
      <img
        src="/images/foodTracking.png"
        data-src="/images/foodTracking.png"
        alt="Computer"
        class="features__img lazy-img"
      />
      <div class="features__feature">
        <h5 class="features__header">Food Tracking</h5>
        <p>
          Easily add and track your daily food intake. Keep a record of what you eat to maintain a healthy lifestyle.
        </p>
      </div>

      <div class="features__feature">
        <h5 class="features__header">Calorie Monitoring</h5>
        <p>
          Monitor your calorie intake effortlessly. Stay informed about the calories you consume each day to make healthier choices.
        </p>
      </div>
      <img
        src="/images/calories.jpg"
        data-src="/images/calories.jpg"
        alt="Plant"
        class="features__img"
      />

      <img
        src="/images/unhealthy-versus-healthy-foods.jpg"
        data-src="/images/unhealthy-versus-healthy-foods.jpg"
        alt="Credit card"
        class="features__img"
        style="height: 300px; width: 550px; margin-left: 35px;"
      />
      <div class="features__feature">
        <h5 class="features__header">Goal Comparison</h5>
        <p>
          Compare your calorie intake with your daily goals. Stay motivated by seeing how your food choices align with your health objectives.
        </p>
      </div>
    </div>
</div>
</section>
</div>

<div class="dark_section">
  <section class="section" id="section--2">
    <div class="section__title">
      <h2 class="section__description__dark">Workout Zone</h2>
      <h3 class="section2_text">
        Empower your fitness journey in the Workout Zone! Build personalized exercises and training plans, kickstart workouts with our timer, map outdoor activities for a comprehensive overview — all in one seamless experience.
      </h3>
      <div class="creatures-container">
        <div class="creature">
          <p class="section2_text">Create Training</p>
        </div>
        <div class="creature">
          <p class="section2_text">Begin Workout</p>
        </div>
        <div class="creature">
          <p class="section2_text">Map Activity</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section" id="section--3">
  <div class="section__title section__title--testimonials">
    <h2 class="section__description">Progress Tracker</h2>
  </div>
</section>
<footer class="footer">
</footer>
<div class="overlay hidden"></div>

<script src='/js/scriptMain.js'></script>
</body>
</html>
