<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styleWorkout.css" />
  <title>Workout Zone</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="sidebar">
  <div class="button-container">
    <a class="sidebar-btn sidebar--1 test icon_color">
      <img src="/images/fire.png" />
      <h6>Workout Zone</h6>
    </a>
    <div class="workout--btns">
      <a href="#" class="workout-btn workout-exercise-add">
        <h6>Add Exercise</h6>
      </a>
      <a href="#" class="workout-btn workout-training-add">
        <h6>Add Training</h6>
      </a>
    </div>
    <a th:href="@{'/activities/' + ${id}}" class="sidebar-btn sidebar--2">
      <img src="/images/location2.png" />
      <h6>Activity Spot</h6>
    </a>
    <a th:href="@{'/nutrition/' + ${id}}" class="sidebar-btn sidebar--2">
      <img src="/images/spoon-knife.png" />
      <h6>Nutrition Hub</h6>
    </a>
    <a href="#" class="sidebar-btn sidebar--3">
      <img src="/images/clipboard.png" />
      <h6>Progress Tracker</h6>
    </a>
  </div>
</div>

<!-- Top Bar -->
<div class="top-bar">
  <div class="logo">
    <img src="/images/logo2.png" />
  </div>
  <div class="user_info">
    <a href="#" class="top-image">
      <img src="/images/user.png" />
    </a>
    <h1 th:text='${user.name}'></h1>
  </div>
</div>

<!-- Main Content -->
<div class="main-content">
  <div class="user--menu hidden">
    <a href="#">
      <img src="/images/history.png" />
    </a>
    <h2>History</h2>
    <a href="#">
      <img src="/images/cog.png" />
    </a>
    <h2>Settings</h2>
    <a href="#">
      <img src="/images/exit.png" />
    </a>
    <h2>Log out</h2>
  </div>
  <!-- Larger Rectangle on the Right -->
  <div class="large-rectangle">
    <div class="section--1">
      <div class="text-section--1">
        <h1 class="text--exercises">Exercises</h1>
      </div>
      <div class="exercises">
        <th:block th:if="${exercises.isEmpty()}">
          <div  class="no-exercises">
            <h1>You don't have any exercises.</h1>
<!--            <button class="no&#45;&#45;exercises-btn">Add Exercise</button>-->
          </div>
        </th:block>
        <th:block th:if="${not exercises.isEmpty()}">
        <div class="exercise-container">
          <div class="exercise-grid">
            <div class="exercise-card">
              <h3 class="exercise-name"></h3>
            </div>
          </div>
          <button class="scroll-btn prev-btn">&lt;</button>
          <button class="scroll-btn next-btn">&gt;</button>
          <a class="remove-btn">
            <img src="/images/bin.png" />
          </a>
        </div>
        </th:block>
      </div>
    </div>
    <div class="section--2">
      <div class="text-section--2">
        <h1 class="text--exercises">Trainings</h1>
        <div class="section--content">
          <div class='trainings'>
            <th:block th:if="${trainings.isEmpty()}">
              <div class="no--training">
                <h1>You dont have any trainings.</h1>
<!--                <button class='add-training-section'>Add Training</button>-->
              </div>
            </th:block>
            <th:block th:if="${not trainings.isEmpty()}">
              <div class="trainings-table-container">
                <table class="trainings-table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Exercises</th>
                    <th>Rounds</th>
                  </tr>
                  </thead>
                  <tbody class="table--body">
                  <tr class="tr" th:each="training : ${trainings}">
                    <td th:id='${training.id}' th:text="${training.name}"></td>
                    <td>
                  <span th:each="exercise, iterStat : ${training.exercises}">
                      <span th:if='${!iterStat.last}' th:text="${exercise.name} + ','"></span>
                      <span th:if='${iterStat.last}' th:text="${exercise.name}"></span>
                  </span>
                    </td>
                    <td th:text="${training.rounds}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </th:block>
          </div>
        </div>
        <div class="training--detail hidden">
          <div class="trainig--overview">
            <h1 id="trainingName"></h1>
            <div class="training--buttons hidden">
              <a style='cursor: pointer;' class='start-practice-btn' data-tooltip="Start">
                <img src="/images/play2.png" />
              </a>
              <a style='cursor: pointer;' class='detail-training-btn' data-tooltip="Detail">
                <img src="/images/eye.png" />
              </a>
              <a style='cursor: pointer;' data-tooltip="Schedule">
                <img src="/images/calendar.png" />
              </a>
              <a style='cursor: pointer;' class='remove-training-btn' data-tooltip="Remove">
                <img src="/images/bin.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-rectangle">
    <!-- <h2>
      You dont have scheduled any training. Feel free to schedule it in
      training section
    </h2> -->
    <h2>You have scheduled training for today!</h2>
    <h2 class="orange--text" id="scheduledTraining">Name of training</h2>
    <button class="start--traning">Start Training!</button>
  </div>
  <div class="below-small-rectangle">
    <div class="start--timer">
      <h1>Start a Timer for any activity!</h1>
      <button class="btn--timer">Start!</button>
    </div>
  </div>
</div>
<div class="remove-exercise hidden">
<!--  <button class="btn&#45;&#45;close-modal">&times;</button>-->
  <h1 class='exercise-remove-name'></h1>
  <div class="exercise-remove--btns">
    <button class="exercise-remove--no">No</button>
    <button class="exercise-remove--yes">Yes</button>
  </div>
</div>
<div class="add-exercise-modal hidden">
  <button class="btn--close-modal close-exercise-modal">&times;</button>
  <h1 class="add-exercise-head">Create Exercise</h1>
  <h2 class="add-exercise-wrong"></h2>
  <form class="modal__form">
    <div>
      <label class="add-exercise-values" for="exerciseName"
      >Exercise Name</label
      >
      <input
        class="exercise-name-value"
        type="text"
        id="exerciseName"
        name="name"
        placeholder="Enter exercise name"
      />
    </div>
    <div class="checkboxes">
      <label class="add-exercise-duration">Duration</label>
      <input
        type="checkbox"
        id="durationCheckbox"
        name="type"
        value="duration"
        onchange="updateCheckboxes(this)"
      />
    </div>
    <div class="checkboxes">
      <label class="add-exercise-repetition" for="durationCheckbox"
      >Repetition</label
      >
      <input
        type="checkbox"
        id="repetitionCheckbox"
        name="type"
        value="repetition"
        onchange="updateCheckboxes(this)"
      />
      <label for="repetitionCheckbox"></label>
    </div>
    <div>
      <button class="create-exercise-btn" type="submit">
        Create Exercise
      </button>
    </div>
  </form>
</div>
<div class='add-training-modal hidden'>
  <button class="btn--close-modal close-training-modal">&times;</button>
  <h1 class="step1-head">Step 1</h1>
  <h2 class="step1-msg">Choose Training Name</h2>
  <h2 class="wrong-training-name"></h2>
  <label for="nameOfTraining" class="step1-name">Name:</label>
  <input class="step1-input" type="text" id="nameOfTraining" name="nameOfTraining" placeholder="Enter training name" required>
  <div>
  <input type="submit" value="Next" class="training-step-1-btn">
  </div>
</div>
<div class="add-training-exercises hidden">
  <button class="btn--close-modal close-training-exercises-modal">&times;</button>
  <h1 class="step2-head">Step 2</h1>
  <h1 class="step2-msg">Select Exercises</h1>
  <h2 class="no-exercise-selected"></h2>
  <div class='all-exercises'>
    </div>
  <div class="step2-btn">
    <input type="hidden" id="exerciseOrder" name="exerciseOrder" />
    <input type="submit" value="Next" class="training-step-2-btn" />
  </div>
</div>

<div class="set-time-to-exercises hidden">
  <button class="btn--close-modal close-set-time-modal">&times;</button>
  <h1 class="step3-head">Step 3</h1>
  <h2 class="step3-msg">Set time for exercises</h2>
  <h2 class="not-all-set"></h2>
  <div class="select-time">
  </div>
    <input type="hidden" id="values" name="values" />
    <button class='training-step-3-btn' type="submit">Next</button>
</div>
<div class="select-rounds hidden">
  <button class="btn--close-modal close-rounds-modal">&times;</button>
  <h1 class="step4-head">Step 4</h1>
  <h2 class="step4-msg">Choose Training rounds</h2>
  <h2 class="rounds-wrong"></h2>
    <label for="rounds" class="step4-rounds">Rounds:</label>
    <input class="rounds-input" type="number" id="rounds" name="rounds" placeholder='Enter rounds' required>
  <div>
    <input class="save-training-btn" type="submit" value="Save training">
  </div>
</div>
<div class="schedule-training hidden">
  <button class="btn--close-modal close-schedule-modal">&times;</button>
  <h2 class="step4-msg">Schedule training</h2>
  <h2 class="schedule-wrong"></h2>
  <input type="date" id="date" />
  <div>
    <input
      id="schedule-training-btn"
      class="schedule-training-btn"
      type="submit"
      value="Schedule"
    />
  </div>
</div>
<div class="training-added hidden">
  <button class="btn--close-modal btn--close-added">&times;</button>
  <h2 class="added-modal">Training detail</h2>
  <h1 style="color: #ff8c00">Name:</h1>
  <h2 style="color: #222831" class='new-training-name'></h2>
  <h1 style="color: #ff8c00">Exercises:</h1>
  <div class="new-exercises-container">
  </div>
  <h1 style="color: #ff8c00">Rounds:</h1>
  <h2 style="color: #222831" class='new-training-rounds'>10</h2>
  </div>
</div>
<div class="remove-training hidden">
  <h1 class='training-remove-name'></h1>
  <div class="training-remove--btns">
    <button class="training-remove--no">No</button>
    <button class="training-remove--yes">Yes</button>
  </div>
</div>
<div class="overlay hidden"></div>
<script th:inline="javascript">
  /*<![CDATA[*/
  const navContainer = document.querySelector('.button-container');
  const icons = document.querySelectorAll('.sidebar-btn');
  const userMenu = document.querySelector('.user--menu');
  const account = document.querySelector('.top-image');
  const table = document.querySelector('.table--body');
  const trainingDetail = document.querySelector('.training--detail');
  const traingButtonsContainer =
    document.querySelector('.training--buttons');


  const showMenu = function (e) {
    e.preventDefault();
    userMenu.classList.remove('hidden');
  };

  const closeMenu = function () {
    userMenu.classList.add('hidden');
  };


  const exerciseCard = document.querySelector('.exercise-card h3');
  const nextBtn = document.querySelector('.next-btn');
  const prevBtn = document.querySelector('.prev-btn');
  let exercises = /*[[${exercises}]]*/ [];
  let currentExerciseIndex = 0;

  const updateCartContentToNewExercise = function() {
    exerciseCard.style.opacity = 0;
    setTimeout(() => {
      currentExerciseIndex = exercises.length - 1;
      exerciseCard.textContent = exercises[currentExerciseIndex].name;
      exerciseCard.style.opacity = 1;
    }, 350);
  }

  const updateCardContent = function (direction) {
    exerciseCard.style.opacity = 0;

    setTimeout(() => {
      if (direction === 'next') {
        currentExerciseIndex =
          (currentExerciseIndex + 1) % exercises.length;
      } else if (direction === 'prev') {
        currentExerciseIndex =
          (currentExerciseIndex - 1 + exercises.length) %
          exercises.length;
      }

      exerciseCard.textContent = exercises[currentExerciseIndex].name;
      exerciseCard.style.opacity = 1;
    }, 350);
  };

  if (exercises.length > 0) {
    nextBtn.addEventListener('click', () => updateCardContent('next'));
    prevBtn.addEventListener('click', () => updateCardContent('prev'));
  }

  const removeExerciseModal = document.querySelector(".remove-exercise");
  const overlay = document.querySelector(".overlay");
  const removeExerciseBtn = document.querySelector(".remove-btn");
  const exerciseToRemoveName = document.querySelector(".exercise-remove-name");
  const removeExerciseNoBtn = document.querySelector(".exercise-remove--no");
  const removeExerciseYesBtn = document.querySelector(".exercise-remove--yes");
  const userid = /*[[${id}]]*/ 0;

  const exercisesSection = document.querySelector(".section--1");
  const exercisesContainer = document.querySelector(".exercises");

  const openRemoveExerciseModal = function(e) {
    e.preventDefault();
    exerciseToRemoveName.textContent = `Do you want to remove exercise: ${exercises[currentExerciseIndex].name}?`;
    removeExerciseModal.classList.remove('hidden');
    overlay.classList.remove('hidden');
  }

  const closeRemoveExerciseModal = function() {
    removeExerciseModal.classList.add('hidden');
    overlay.classList.add('hidden');
  }

  if (exercises.length > 0) {
    removeExerciseBtn.addEventListener("click", openRemoveExerciseModal);
    removeExerciseNoBtn.addEventListener("click", closeRemoveExerciseModal);
  }

  removeExerciseYesBtn.addEventListener("click", function(e) {
    e.preventDefault();
    const apiEndpoint = '/' + userid + '/delete/exercise/' + exercises[currentExerciseIndex].id;

    fetch(apiEndpoint, {
      method: 'POST',
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      exercises = data;
      if (exercises != null && exercises.length > 0) {
        closeRemoveExerciseModal();
        updateCardContent("next");
        console.log('Exercises:', data);
      } else {
        closeRemoveExerciseModal();
        exercisesContainer.innerHTML = "";
        const noExercisesHTML = `
            <div class="no-exercises">
              <h1>You don't have any exercises.</h1>
            </div>
         `;
        exercisesSection.insertAdjacentHTML("beforeend", noExercisesHTML);
      }
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
  });

  //=====ADD EXERCISE===============
  const addExerciseMenuBtn = document.querySelector(".workout-exercise-add");
  const addExerciseModal = document.querySelector(".add-exercise-modal");
  const addExerciseWrong = document.querySelector(".add-exercise-wrong");
  const xBtnExerciseAddModal = document.querySelector(".close-exercise-modal");

  const createExerciseBtn = document.querySelector(".create-exercise-btn");
  const noExerciseSection = document.querySelector(".no-exercises");
  const exerciseName = document.getElementById('exerciseName');
  const durationCheckbox = document.getElementById('durationCheckbox');
  const repetitionCheckbox = document.getElementById('repetitionCheckbox');


  const setDefaultValue = function() {
    exerciseName.value = "";
    addExerciseWrong.textContent = "";
    durationCheckbox.checked = false;
    repetitionCheckbox.checked = false;
  }

  const openAddExerciseModal = function(e) {
    e.preventDefault();
    addExerciseModal.classList.remove('hidden');
    overlay.classList.remove('hidden');
  }

  const closeExerciseModal = function() {
    addExerciseModal.classList.add('hidden');
    overlay.classList.add('hidden');

    setTimeout(() => {
      setDefaultValue();
    }, 1000);
  }

  addExerciseMenuBtn.addEventListener("click", openAddExerciseModal);
  xBtnExerciseAddModal.addEventListener("click", closeExerciseModal);

  function updateCheckboxes(clickedCheckbox) {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    checkboxes.forEach(checkbox => {
      if (checkbox !== clickedCheckbox) {
        checkbox.checked = false;
      }
    });
  }

  function validateForm() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    let atLeastOneChecked = false;

    console.log(atLeastOneChecked);
    checkboxes.forEach(checkbox => {
      if (checkbox.checked) {
        atLeastOneChecked = true;
      }
    });

    if (!atLeastOneChecked) {
      addExerciseWrong.textContent = 'Please select at least one checkbox.';
      return false;
    }
    return true;
  }


  createExerciseBtn.addEventListener("click", function(e) {
    e.preventDefault();

    if (!validateForm()) return;
    const apiEndpoint = '/save/exercise/' + userid;

    const exerciseNameValue = exerciseName.value;
    if (exerciseNameValue.trim() === "") {
      addExerciseWrong.textContent = 'Please choose exercise name.';
      return;
    }
    const durationCheckboxValue = durationCheckbox.checked;
    const repetitionCheckboxValue = repetitionCheckbox.checked;

    const formData = new FormData();
    formData.append('name', exerciseNameValue);
    formData.append('type', durationCheckboxValue ? 'duration' : 'repetition');


    fetch(apiEndpoint, {
      method: 'POST',
      body: formData,
    })
    .then(response => {
      if (!response.ok) {
        return response.json().then(data => {
          throw new Error(data.message || 'Network response was not ok');
        });
      }
      return response.json();
    })
    .then(data => {
      if (exercises.length > 0) {
        exercises.push(data);
        closeExerciseModal();
        updateCartContentToNewExercise();
        setTimeout(function () {
          setDefaultValue();
        }, 1000);
      } else {
        // console.log(noExerciseSection);
        // console.log(exercisesSection);
        // if (exercisesSection.lastElementChild) {
        //   // Remove the last child
        //   exercisesSection.lastElementChild.remove();
        // }
        // const noExercisesHTML = `
        //     <div class="exercise-container">
        //       <div class="exercise-grid">
        //         <div class="exercise-card">
        //           <h3 class="exercise-name"></h3>
        //         </div>
        //       </div>
        //       <button class="scroll-btn prev-btn">&lt;</button>
        //       <button class="scroll-btn next-btn">&gt;</button>
        //       <a class="remove-btn">
        //         <img src="/images/bin.png" />
        //       </a>
        //   </div>
        //  `;
        // exercisesSection.insertAdjacentHTML("beforeend", noExercisesHTML);
        exercises.push(data);
        closeExerciseModal();
        // updateCardContent("next");
        setTimeout(function () {
          setDefaultValue();
        }, 1000);
        window.location.reload();
      }
    })
    .catch(error => {
      console.error('Error fetching data:', error);
      addExerciseWrong.textContent = error.message;
    });
  });
  if (exercises.length > 0) {
    updateCardContent();
  }

  //trinings table
  const trainingSection = document.querySelector(".section--content");
  let trainings = /*[[${trainings}]]*/ [];

  //add training
  const addTrainingBtn = document.querySelector(".workout-training-add");
  const addTrainingModal = document.querySelector(".add-training-modal");
  const xBtnTrainingModal = document.querySelector(".close-training-modal");
  const wrongTrainingName = document.querySelector('.wrong-training-name');


  const openAddTrainingModal = function(e) {
    e.preventDefault();
    addTrainingModal.classList.remove('hidden');
    overlay.classList.remove('hidden');
  }

  const step1NameValue = document.querySelector(".step1-input");
  const removeValuesFromStep1 = function() {
    wrongTrainingName.textContent = "";
    step1NameValue.value = "";
  }

  const closeTrainingModal = function() {
    addTrainingModal.classList.add('hidden');
    overlay.classList.add('hidden');
    setTimeout(function () {
      removeValuesFromStep1();
    }, 1000);
  }

  addTrainingBtn.addEventListener("click", openAddTrainingModal);
  xBtnTrainingModal.addEventListener("click", closeTrainingModal);

  function Training(name = "", exerciseOrder = "", exerciseValues = "", rounds = 0) {
    this.name = name;
    this.exerciseOrder = exerciseOrder;
    this.exerciseValues = exerciseValues;
    this.rounds = rounds;
  }

  const newTraining = new Training();

  const moveToStep2Btn = document.querySelector(".training-step-1-btn");
  const nameOfTrainingInput = document.getElementById('nameOfTraining');
  const addExercisesToTrainingModal = document.querySelector(".add-training-exercises");
  const allExercisesContainer = document.querySelector('.all-exercises');
  const closeStep2ModalBtn = document.querySelector(".close-training-exercises-modal");

  function createExerciseCheckbox(exercise) {
    const div = document.createElement('div');
    div.classList.add('custom-control', 'custom-checkbox');

    const input = document.createElement('input');
    input.type = 'checkbox';
    input.classList.add('custom-control-input');
    input.id = 'exercise-' + exercise.id;
    input.name = 'selectedExercises';
    input.value = exercise.id;
    input.addEventListener('click', function () {
      updateSelectedExercises(this);
    });

    const label = document.createElement('label');
    label.classList.add('custom-control-label');
    label.htmlFor = 'exercise-' + exercise.id;
    label.textContent = exercise.name;

    div.appendChild(input);
    div.appendChild(label);
    return div;
  }

  const allExercisesForTraining = document.querySelectorAll(".custom-control-input");
  const noExercisesSelected = document.querySelector(".no-exercise-selected");
  const moveToStep3Btn = document.querySelector(".training-step-2-btn");


  let selectedExercises = [];

  function updateSelectedExercises(checkbox) {
    const exerciseId = checkbox.value;

    if (checkbox.checked) {
      selectedExercises.push(exerciseId);
    } else {
      selectedExercises = selectedExercises.filter(
        (item) => item !== exerciseId
      );
    }

    console.log(selectedExercises);
  }

  const trainingNameAlreadyExist = function(newTrainingName) {
    return trainings.some(training => training.name.toLowerCase() === newTrainingName.toLowerCase());
  }


  moveToStep2Btn.addEventListener("click", function(e) {
    e.preventDefault();
    const nameOfTrainingValue = nameOfTrainingInput.value.trim();

    if (nameOfTrainingValue === '') {
      wrongTrainingName.textContent = 'Choose training name';
      return false;
    } else if (trainingNameAlreadyExist(nameOfTrainingValue)) {
      console.log(trainings);
      wrongTrainingName.textContent = 'Training name already exist';
      return false;
    } else {
      newTraining.name = nameOfTrainingInput.value;
      wrongTrainingName.textContent = "";
      addTrainingModal.classList.add('hidden');
      console.log(exercises);
      if (exercises.length > 0) {
        exercises.forEach(function (exercise) {
          const exerciseCheckbox = createExerciseCheckbox(exercise);
          allExercisesContainer.appendChild(exerciseCheckbox);
        });
        moveToStep3Btn.classList.remove("hidden");
      } else {
        allExercisesContainer.innerHTML=`
        <h2 class='wrong-training-name'>First you need to add exercises</h2>
        `
        moveToStep3Btn.classList.add("hidden");
        setTimeout(function () {
          addExercisesToTrainingModal.classList.add("hidden");
          addExerciseModal.classList.remove("hidden");
        }, 2000);
      }
      addExercisesToTrainingModal.classList.remove("hidden");
    }
  });

  const removeValuesFromStep2 = function() {
    const allCheckboxes = allExercisesContainer.querySelectorAll('input[type="checkbox"]');

    console.log(allCheckboxes);
    removeValuesFromStep1();
    noExercisesSelected.textContent = "";
    allExercisesContainer.innerHTML = '';
    selectedExercises = [];
    allCheckboxes.forEach(checkbox => {
      checkbox.checked = false;
    })
  }

  closeStep2ModalBtn.addEventListener("click", function() {
    addExercisesToTrainingModal.classList.add("hidden");
    overlay.classList.add('hidden');
    setTimeout(function () {
      removeValuesFromStep2();
    }, 1000);
  })

  const setTimeToExercisesModal = document.querySelector(".set-time-to-exercises");
  const selectTimeContainer = document.querySelector('.select-time');

  function findExercisesAndMoveToNextStep() {
    const selectedExercisesByOrder = selectedExercises.map(id => {
      const numericId = Number(id);
      return exercises.find(exercise => exercise.id === numericId);
    });
    selectTimeContainer.innerHTML = '';
    selectedExercisesByOrder.forEach(exercise => {
      const exerciseDiv = document.createElement('div');
      exerciseDiv.classList.add('custom-control', 'custom-checkbox');

      const label = document.createElement('label');
      label.setAttribute('for', 'duration');
      label.classList.add('exercise-time-name');
      label.textContent = exercise.name;

      const input = document.createElement('input');
      input.setAttribute('type', 'number');
      input.classList.add('exercise-time');
      input.setAttribute('id', 'duration');
      input.setAttribute('name', 'duration');
      input.setAttribute('required', 'required')
      input.setAttribute("placeholder",`${exercise.type === 'duration' ? "Enter duration" : "Enter repetitions"}`);

      exerciseDiv.appendChild(label);
      exerciseDiv.appendChild(input);

      selectTimeContainer.appendChild(exerciseDiv);
    });
  }

  const closeSetTimesModalBtn = document.querySelector(".close-set-time-modal");
  const missingInput = document.querySelector(".not-all-set")

  const removeValuesFromStep3 = function() {
    missingInput.textContent = "";
    removeValuesFromStep1();
    removeValuesFromStep2();
    const allInputs = selectTimeContainer.querySelectorAll('input');
    allInputs.forEach(input => {
      input.value = "";
    });
  }

  closeSetTimesModalBtn.addEventListener("click", function() {
    overlay.classList.add("hidden");
    setTimeToExercisesModal.classList.add("hidden");
    setTimeout(function () {
      removeValuesFromStep3();
    }, 1000);
  })
  moveToStep3Btn.addEventListener("click", function(e) {
    e.preventDefault();
    console.log("tu som");
    if (selectedExercises.length > 0) {
      newTraining.exerciseOrder = selectedExercises.join(",");
      findExercisesAndMoveToNextStep();
      addExercisesToTrainingModal.classList.add("hidden");
      setTimeToExercisesModal.classList.remove("hidden");
    } else {
      noExercisesSelected.textContent = `Select at least one exercise`;
    }
  })

  const moveToStep4Btn = document.querySelector(".training-step-3-btn");
  const addRoundsModal = document.querySelector(".select-rounds");
  const closeRoundsModalBtn = document.querySelector(".close-rounds-modal");
  const missingRounds = document.querySelector(".rounds-wrong");
  const roundsInput = document.querySelector(".rounds-input");

  const removeValuesFromStep4 = function() {
    removeValuesFromStep1();
    removeValuesFromStep2();
    removeValuesFromStep3();
    roundsInput.value = "";
    missingRounds.textContent = "";
  }

  closeRoundsModalBtn.addEventListener("click", function() {
    addRoundsModal.classList.add("hidden");
    overlay.classList.add("hidden");
    setTimeout(function () {
      removeValuesFromStep4();
    }, 1000);
  })

  let times = [];
  const setTimesToExercises =  function() {
    const values = document.querySelectorAll(".exercise-time");
    values.forEach(v => {
      times.push(v.value);
    })
  };


  moveToStep4Btn.addEventListener("click", function(e) {
    e.preventDefault();
    setTimesToExercises();

    let missing = false;
    console.log("Missing na zaciatku : " + missing);
    console.log(times);
    for (let i = 0; i < times.length; i++) {
      let time = times[i];
      if (time <= 0 || time.includes(".") || time.includes(",")) {
        missing = true;
        break;
      }
    }
    console.log("Missing po zmene : " + missing);
    if (missing) {
        missingInput.textContent = `Set positive whole numbers`;
        times = [];
        return false;
      } else {
      missingInput.textContent = "";
        newTraining.exerciseValues = times.join(",");
        console.log(newTraining);
      setTimeToExercisesModal.classList.add("hidden");
      addRoundsModal.classList.remove("hidden");
    }
  })

  const saveTrainingBtn = document.querySelector(".save-training-btn");
  const trainingAddedModal = document.querySelector(".training-added");


  const trainingAddedMsg = function(training, exercises, message, types) {
    document.querySelector(".added-modal").textContent = message;

    const exercisesContainer = document.querySelector(".new-exercises-container");

    const exercisesArray = exercises.split(",");
    const values = training.exerciseValues.split(",");

    const typesOfExercises = types.split(",");

    exercisesArray.forEach((exercise, index) => {
      const html = `<h2 style="color: #222831">${exercise}, ${values[index]}${typesOfExercises[index] === 'repetition' ? 'r' : 's'}</h2>`
      exercisesContainer.insertAdjacentHTML("beforeend", html);
    })

    document.querySelector(".new-training-name").textContent = `${training.name}`;
    document.querySelector(".new-training-rounds").textContent = `${training.rounds}`;
    trainingAddedModal.classList.remove('hidden');
    addRoundsModal.classList.add("hidden");
    overlay.classList.remove("hidden");
  }

  const removeTrainingAddedMsg = function() {
    const exercisesContainer = document.querySelector(".new-exercises-container");
    exercisesContainer.textContent = "";
    document.querySelector(".added-modal").textContent = "";
    document.querySelector(".new-training-name").textContent = "";
    document.querySelector(".new-training-rounds").textContent = "";
  }

  saveTrainingBtn.addEventListener("click", function(e) {
    e.preventDefault();
    if (roundsInput.value <= 0 || roundsInput.value.includes(".") || roundsInput.value.includes(",")) {
      missingRounds.textContent = "You need to enter positive whole number";
    } else {
      newTraining.rounds = roundsInput.value;
      console.log(newTraining);
      const apiEndpoint = '/save/training/' + userid;

      const formData = new FormData();
      formData.append('name', newTraining.name);
      formData.append('exerciseOrder', newTraining.exerciseOrder);
      formData.append("exerciseValues", newTraining.exerciseValues);
      formData.append("rounds", newTraining.rounds.toString());

      fetch(apiEndpoint, {
        method: 'POST',
        body: formData,
      })
      .then(response => {
        console.log('Response headers:', response.headers);
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        const { training, exercises, exercisesTypes } = data;

        console.log('Training object:', training);
        console.log('Exercises string:', exercises);

        if (trainings.length > 0) {
          trainings.push(training);
          const rowAdd = `
          <tr class='tr'>
            <td id='${training.id}'>${training.name}</td>
            <td>${exercises}</td>
            <td>${training.rounds}</td>
          </tr>
        `;
          const tbody = document.querySelector('.table--body');
          tbody.insertAdjacentHTML('afterbegin', rowAdd);

          trainingAddedMsg(training, exercises, "Training added", exercisesTypes);
          setTimeout(function () {
            trainingAddedModal.classList.add('hidden');
            overlay.classList.add('hidden');
            console.log('First set of actions completed');
            setTimeout(function () {
              removeTrainingAddedMsg();
              removeValuesFromStep4();
              console.log('Second set of actions completed');
            }, 1000);
          }, 2000);
        } else {
          trainings.push(training);
          trainingAddedMsg(training, exercises, "Training added", exercisesTypes);
          setTimeout(function () {
            removeTrainingAddedMsg();
            removeValuesFromStep4();
            window.location.reload();
          }, 3000);
        }
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
    }
  })

  document.querySelector(".btn--close-added").addEventListener("click", function(e) {
    e.preventDefault();
    trainingAddedModal.classList.add('hidden');
    overlay.classList.add('hidden');
    setTimeout(function () {
      removeTrainingAddedMsg();
    }, 1000);
  })


  let clicked = 0;
  account.addEventListener('click', function (e) {
    e.preventDefault();
    clicked++;
    if (clicked % 2 !== 0) {
      showMenu(e);
    }
    if (clicked % 2 === 0) {
      closeMenu();
    }
  });

  let clickedElement;
  let removed = false;
  let trainingId;
  let trainingName;
  let exercisesFromTable;

  if (trainings.length > 0) {
    table.addEventListener('click', function (e) {
      const tr = document.querySelectorAll('.tr');
      e.preventDefault();
      const clicked = e.target.closest('.tr');
      const trainingNameElement = document.getElementById('trainingName');
      trainingNameElement.textContent = '';
      traingButtonsContainer.classList.add('hidden');
      trainingDetail.classList.add('hidden');
      tr.forEach(tr => tr.classList.remove('tr-clicked'));
      if (clickedElement === clicked && removed === false) {
        removed = true;
        return;
      }
      clickedElement = clicked;
      console.log(clickedElement);
      trainingId = clicked.querySelector('td:first-child').id;
      trainingName = clicked.querySelector('td:first-child').textContent;
      exercisesFromTable = clicked.querySelector('td:nth-child(2)').textContent;
      clicked.classList.add('tr-clicked');
      traingButtonsContainer.classList.remove('hidden');
      trainingDetail.classList.remove('hidden');
      const textContent = clickedElement.textContent.split('\n');
      trainingNameElement.textContent = `${textContent[1].trim()}`;
      removed = false;
    });
  }
  //remove trainings
  const removeTrainingBtn = document.querySelector(".remove-training-btn");
  const removeTrainingModal = document.querySelector(".remove-training");
  const removeTrainingNoBtn = document.querySelector(".training-remove--no");
  const removeTrainingYesBtn = document.querySelector(".training-remove--yes");
  const removeTraininigMsg = document.querySelector(".training-remove-name");
  const trainingPart = document.querySelector(".section--2");
  const trainingContainer = document.querySelector(".trainings");
  const detailTrainingBtn = document.querySelector(".detail-training-btn");
  const startPracticeBtn = document.querySelector(".start-practice-btn");


  startPracticeBtn.addEventListener("click", function(e) {
    window.location.href = 'http://localhost:8080/' + userid + '/training/' + trainingId;
  })


  detailTrainingBtn.addEventListener("click", function() {
    console.log(trainings);
    console.log(trainingId);
    const foundTraining = trainings.find(training => training.id === parseInt(trainingId, 10));
    console.log(foundTraining);
    console.log(trainingId);
    const helpArray = exercisesFromTable.split(",");
    let myExercisesArray = [];
    helpArray.forEach(e => myExercisesArray.push(e.trim()));
    const myExercises = myExercisesArray.join(",");
    const apiEndpoint = '/' + userid + '/find/types/' + trainingId;

    fetch(apiEndpoint, {
      method: 'POST',
    })
    .then(response => {
      console.log(response);
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      console.log("data : " + data.types);
      trainingAddedMsg(foundTraining, myExercises, "Training detail", data.types);
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
  })


  const closeRemoveTrainingModal = function() {
    removeTrainingModal.classList.add("hidden");
    overlay.classList.add('hidden');
  }
  removeTrainingBtn.addEventListener("click", function(e) {
    e.preventDefault();
    removeTraininigMsg.textContent = `Do you want to remove training: ${trainingName}?`;
    removeTrainingModal.classList.remove("hidden");
    overlay.classList.remove('hidden');
  })

  removeTrainingNoBtn.addEventListener("click", closeRemoveTrainingModal);

  removeTrainingYesBtn.addEventListener("click", function(e) {
    e.preventDefault();
    const apiEndpoint = '/' + userid + '/delete/training/' + trainingId;

    fetch(apiEndpoint, {
      method: 'POST',
    })
    .then(response => {
      console.log(response);
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      trainings = data;
      console.log(trainings);
      if (trainings != null && trainings.length > 0) {
        closeRemoveTrainingModal();
        trainingDetail.classList.add('hidden');
        clickedElement.remove();
        console.log('Exercises:', data);
      }
      else {
        closeRemoveTrainingModal();
        trainingContainer.innerHTML = "";
        const noTrainingHTML = `
            <div class="no--training">
                <h1>You dont have any trainings.</h1>
            </div>
         `;
        trainingDetail.classList.add('hidden');
        setTimeout(function () {
          trainingPart.insertAdjacentHTML("beforeend", noTrainingHTML);
        }, 1000);
      }
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
  });

  const startTimerBtn = document.querySelector(".btn--timer");
  startTimerBtn.addEventListener("click", function(e) {
    window.location.href = `http://localhost:8080/interval/practice/${userid}`;
  })
  /*]]>*/
</script>
</body>
</html>
